/* Селектор по тегу - все абзацы будут иметь синий цвет текста */
p {
    color: blue;
}

/* Селектор по классу - элементы списка с классом .bold должны быть жирными */
.bold {
    font-weight: bold;
}

/* Селектор по ID - заголовок с ID #red-header будет красного цвета */
#red-header {
    color: red;
}